*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: black;
}



.header {
  display: flex; /* Assuming you want a flex layout */
  align-items: center; /* Center items vertically */
  justify-content: space-between; /* Space between elements */
  padding: 10px; /* Add some padding */
  background-color: white; /* Ensure the header has a background color */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Light bottom shadow */
  width: 100%;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align items with space between */
  padding: 10px; /* Add some padding */
}

.header-container-search {
  display: flex;
  align-items: center;
  flex: 1; /* Allow the search bar to grow */
  margin-left: 10px; /* Space between dropdown and search bar */
}

.home-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 150px;
}

.search-bar {
  padding: 10px 10px 10px 40px;
  border-radius: 5px; /* Match the rounded corners */
  border: 1px solid #ccc; /* Light border */
  width: 100%; /* Full width */
  min-width: 120px; /* Minimum width to prevent it from getting too small */
  box-sizing: border-box; /* Include padding and border in the element's total width */
  margin-right: 10px;
}

.btn-jual {
  width: 120px;
  height: 40px;
  background-color: #004aad;
  border: none;
  color: white;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px; /* Default font size */
  margin-left: 10px;
  margin-right: 10px;
  cursor: pointer;
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflow text */
  text-overflow: ellipsis; /* Add ellipsis (...) for overflow text */
  display: inline-block; /* Ensure the button respects width */
}

.search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #d3d3d3;
}

.header-container-search {
  position: relative;
  width: 200px;
}

.dropdown-header-button {
  background-color: white; /* White background */
  border: 1px solid #ccc; /* Light border to match the search bar */
  padding: 10px;
  cursor: pointer;
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow */
  transition: background-color 0.3s; /* Smooth transition for hover */
}

.dropdown-header-content {
  display: none; /* Hidden by default */
  position: absolute;
  background-color: white; /* White background */
  min-width: 160px;
  border-radius: 5px; /* Rounded corners */
  border: 1px solid #ccc; /* Light border to match the search bar */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow */
  z-index: 1;
}

.dropdown-header:hover .dropdown-header-content {
  display: block; /* Show the dropdown on hover */
}

.dropdown-header-content a {
  color: black; /* Text color */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s; /* Smooth transition for hover */
}

.dropdown-header-content a:hover {
  background-color: #f0f0f0; /* Soft grey color on hover */
}

.dropdown-header {
  position: relative;
  display: inline-block;
}

.dropdown-header-button {
  background-color: white; /* White background */
  border: 1px solid #ccc; /* Light border to match the search bar */
  padding: 10px;
  cursor: pointer;
  border-radius: 5px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow */
  transition: background-color 0.3s; /* Smooth transition for hover */
}

.dropdown-header-button:hover {
  background-color: #f9f9f9; /* Slightly darker white on hover */
}

.dropdown-header-content {
  display: none; /* Hidden by default */
  position: absolute;
  background-color: white; /* White background */
  min-width: 160px;
  border-radius: 5px; /* Rounded corners */
  border: 1px solid #ccc; /* Light border to match the search bar */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Optional shadow */
  z-index: 1;
}

.dropdown-header:hover .dropdown-header-content {
  display: block; /* Show the dropdown on hover */
}

.dropdown-header-content a {
  color: black; /* Text color */
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s; /* Smooth transition for hover */
}

.dropdown-header-content a:hover {
  background-color: #f0f0f0; /* Soft grey color on hover */
}

.body-container {
  padding: 20px;
  max-width: 1200px; /* Limit the width of the container */
  margin: 0 auto; /* Center the container */
}

.title {
  text-align: center; /* Center the title */
  margin-bottom: 20px; /* Space below the title */
  font-size: 24px; /* Font size for the title */
}

.header-search {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.header-buttons {
  display: flex;
  flex-direction: row;
}

.detail-container {
  display: flex;
  flex-direction: column;
}

.detail-wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.detail-content-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.detail-content-title {
  width: 70%;
  padding: 20px;
  border: 1px solid #ccc; /* Light border */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow effect */
  overflow: hidden; /* Prevent overflow */
  display: flex; /* Flex layout for card */
  flex-direction: column;
  margin-bottom: 20px; /* Space below the card */
  align-items: start;
  justify-content: center;
  gap: 10px;
}

.detail-content-title p {
  margin: 0;
}

.detail-content-title h1 {
  margin: 0;
}
.detail-content-price {
  width: 30%;
  padding: 20px;
  border: 1px solid #ccc; /* Light border */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow effect */
  overflow: hidden; /* Prevent overflow */
  display: flex; /* Flex layout for card */
  flex-direction: column;
  margin-bottom: 20px; /* Space below the card */
  align-items: center;
  justify-content: center;
}

.detail-content-price button {
  width: 100%;
}

.detail-description-wrapper {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.detail-description {
  width: 70%;
  padding: 20px;
  border: 1px solid #ccc; /* Light border */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow effect */
  overflow: hidden; /* Prevent overflow */
  display: flex; /* Flex layout for card */
  flex-direction: column;
  margin-bottom: 20px; /* Space below the card */
}

.detail-toko {
  width: 30%;
  display: flex; /* Use flexbox for layout */
  flex-direction: row; /* Arrange children in a row */
  gap: 20px; /* Space between items */
  justify-content: center; /* Center items horizontally */
  padding: 20px; /* Padding around the content */
  border: 1px solid #ccc; /* Light border */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Shadow effect */
  overflow: hidden; /* Prevent overflow */
  align-items: center; /* Center items vertically */
  max-height: 100px;
}

.detail-toko h2 {
  margin: 0;
}

.detail-toko img {
  margin: 0;
}
.detail-toko img {
  width: 50px; /* Set a fixed width */
  height: 50px; /* Set a fixed height to make it square */
  border-radius: 50%; /* Make the image circular */
  object-fit: cover; /* Ensure the image covers the area without distortion */
  border: 1px solid black;
}

.placeholder-detail-image {
  width: 50px; /* Set a fixed width */
  height: 50px; /* Set a fixed height to make it square */
  border-radius: 50%;
  background-color: #e0e0e0;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888;
  font-weight: bold;
  font-size: 8px;
}

select {
  width: 100%; /* Full width */
  padding: 10px; /* Padding for better touch targets */
  margin: 10px 0; /* Margin for spacing */
  border: 1px solid #ccc; /* Light gray border */
  border-radius: 4px; /* Rounded corners */
  font-size: 16px; /* Font size */
  background-color: #fff; /* White background */
  appearance: none; /* Remove default styling */
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10"><polygon points="0,0 10,0 5,5" fill="%23333"/></svg>'); /* Custom dropdown arrow */
  background-repeat: no-repeat; /* Prevent repeating */
  background-position: right 10px center; /* Position the arrow */
  background-size: 10px; /* Size of the arrow */
}

/* Styles for the select element on focus */
select:focus {
  border-color: #007bff; /* Change border color on focus */
  outline: none; /* Remove default outline */
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Add shadow on focus */
}

.profile-header-menu {
  display: flex;
  width: 100%;
  flex-direction: row;
  padding: 10px;
  gap:10px;
  justify-content: end;
}

.profile-header-menu svg {
  width: 30px;
  height: 30px;
}

.dropdown-profile {
  position: absolute; /* Position it relative to the parent */
  background-color: white; /* Background color */
  border: 1px solid #ccc; /* Border */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15); /* Shadow */
  z-index: 1000; /* Ensure it appears above other elements */
  margin-top: 35px;
}

.dropdown-profile ul {
  list-style: none; /* Remove bullet points */
  padding: 0; /* Remove padding */
  margin: 0; /* Remove margin */
}

.dropdown-profile li {
  padding: 10px; /* Padding for each item */
  cursor: pointer; /* Pointer cursor on hover */
}

.dropdown-profile li:hover {
  background-color: #f0f0f0; /* Highlight on hover */
}

.detail-description p {
  white-space: pre-wrap;
} 

@media (max-width: 425px) {
  h1 {
    font-size: 1.5em;
  }
  .header {
    flex-direction: column; /* Stack header items vertically */
    align-items: flex-start; /* Align items to the start */
  }

  .header-search {
    gap: 10px;
  }

  .header-container {
    width: 100%; /* Full width */
    padding: 0px; /* Adjust padding */
    justify-content: center;
  }

  .search-bar {
    width: 100%; /* Full width for search bar */
    margin: 10px 0; /* Add margin for spacing */
  }

  .btn-jual {
    width: 100%; /* Full width for buttons */
    margin: 5px 0; /* Add margin for spacing */
  }

  .dropdown-header {
    width: 20%; /* Full width for dropdown */
    margin: 10px 0; /* Add margin for spacing */
  }

  .dropdown-button {
    width: 100%; /* Full width for dropdown button */
  }
  .title {
    font-size: 20px; /* Adjust font size for smaller screens */
  }

  .header-container-btn-jual {
    width: 100%;
  }

  .header-container-search {
    width: 100%;
    margin: 0 0; /* Add margin for spacing */
  }

  .header-buttons {
    width: 100%;
    gap: 10px;
  }

  .detail-content-wrapper {
    flex-direction: column;
  }

  .detail-content-title {
    width: 100%;
  }

  .detail-content-price {
    width: 100%;
  }

  .detail-description-wrapper {
    flex-direction: column;
  }

  .detail-description {
    width: 100%;
  }

  .detail-toko {
    width: 100%;
  }
}